// .header {
//   display: flex;
//   height: 75px;
//   background-color: pink;
// }

@media only screen and (min-width: 1000px){
.header {
    display: flex;
    align-items: center;
    height: 75px;
    // background-color: pink;
    padding: 0 50px;
    justify-content: center;
  }
}

.header-logo {
  flex: 1;
}